Agency-Mosson/Service References/HotelColliseeServiceRef1/HotelWebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="getHotel">
        <s:complexType />
      </s:element>
      <s:element name="getHotelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getHotelResult" type="tns:Hotel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Hotel">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Town" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PhoneNumber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Rating" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="NumberOfRoom" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="NumberOfBed" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Rooms" type="tns:ArrayOfRoom" />
          <s:element minOccurs="0" maxOccurs="1" name="Offers" type="tns:ArrayOfOffer" />
          <s:element minOccurs="0" maxOccurs="1" name="Agencies" type="tns:ArrayOfAgencyInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfRoom">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Room" nillable="true" type="tns:Room" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Room">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Price" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="NumberOfBed" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Capacity" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="State" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfOffer">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Offer" nillable="true" type="tns:Offer" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Offer">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="NumberOfBed" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DateAvailable" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Price" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAgencyInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="AgencyInfo" nillable="true" type="tns:AgencyInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AgencyInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="getAgencyLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAgencyLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAgencyLoginResult" type="tns:ArrayOfOffer" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getHotelSoapIn">
    <wsdl:part name="parameters" element="tns:getHotel" />
  </wsdl:message>
  <wsdl:message name="getHotelSoapOut">
    <wsdl:part name="parameters" element="tns:getHotelResponse" />
  </wsdl:message>
  <wsdl:message name="getAgencyLoginSoapIn">
    <wsdl:part name="parameters" element="tns:getAgencyLogin" />
  </wsdl:message>
  <wsdl:message name="getAgencyLoginSoapOut">
    <wsdl:part name="parameters" element="tns:getAgencyLoginResponse" />
  </wsdl:message>
  <wsdl:portType name="HotelWebService1Soap">
    <wsdl:operation name="getHotel">
      <wsdl:input message="tns:getHotelSoapIn" />
      <wsdl:output message="tns:getHotelSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAgencyLogin">
      <wsdl:input message="tns:getAgencyLoginSoapIn" />
      <wsdl:output message="tns:getAgencyLoginSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HotelWebService1Soap" type="tns:HotelWebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getHotel">
      <soap:operation soapAction="http://tempuri.org/getHotel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAgencyLogin">
      <soap:operation soapAction="http://tempuri.org/getAgencyLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="HotelWebService1Soap12" type="tns:HotelWebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getHotel">
      <soap12:operation soapAction="http://tempuri.org/getHotel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAgencyLogin">
      <soap12:operation soapAction="http://tempuri.org/getAgencyLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HotelWebService1">
    <wsdl:port name="HotelWebService1Soap" binding="tns:HotelWebService1Soap">
      <soap:address location="http://localhost:64699/HotelWebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="HotelWebService1Soap12" binding="tns:HotelWebService1Soap12">
      <soap12:address location="http://localhost:64699/HotelWebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>