ClientApplicationConsole/Service References/AgencyMossonServiceRef/AgencyWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="getHotel">
        <s:complexType />
      </s:element>
      <s:element name="getHotelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getHotelResult" type="tns:ArrayOfHotel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfHotel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Hotel" nillable="true" type="tns:Hotel" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Hotel">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Town" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PhoneNumber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Rating" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="NumberOfRoom" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="NumberOfBed" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Rooms" type="tns:ArrayOfRoom" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfRoom">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Room" nillable="true" type="tns:Room" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Room">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Price" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="NumberOfBed" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Capacity" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="State" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="getBookingInformaton">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_hotel_id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="_room_id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="client_id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="_firstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_lastName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_cardInfo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getBookingInformatonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getBookingInformatonResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getRoomFromHotel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_hotelName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getRoomFromHotelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getRoomFromHotelResult" type="tns:ArrayOfRoom" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="searchhotel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_town" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="_minPrice" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="_maxPrice" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="_numberofStars" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="searchhotelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="searchhotelResult" type="tns:ArrayOfHotel" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getHotelSoapIn">
    <wsdl:part name="parameters" element="tns:getHotel" />
  </wsdl:message>
  <wsdl:message name="getHotelSoapOut">
    <wsdl:part name="parameters" element="tns:getHotelResponse" />
  </wsdl:message>
  <wsdl:message name="getBookingInformatonSoapIn">
    <wsdl:part name="parameters" element="tns:getBookingInformaton" />
  </wsdl:message>
  <wsdl:message name="getBookingInformatonSoapOut">
    <wsdl:part name="parameters" element="tns:getBookingInformatonResponse" />
  </wsdl:message>
  <wsdl:message name="getRoomFromHotelSoapIn">
    <wsdl:part name="parameters" element="tns:getRoomFromHotel" />
  </wsdl:message>
  <wsdl:message name="getRoomFromHotelSoapOut">
    <wsdl:part name="parameters" element="tns:getRoomFromHotelResponse" />
  </wsdl:message>
  <wsdl:message name="searchhotelSoapIn">
    <wsdl:part name="parameters" element="tns:searchhotel" />
  </wsdl:message>
  <wsdl:message name="searchhotelSoapOut">
    <wsdl:part name="parameters" element="tns:searchhotelResponse" />
  </wsdl:message>
  <wsdl:portType name="AgencyWebServiceSoap">
    <wsdl:operation name="getHotel">
      <wsdl:input message="tns:getHotelSoapIn" />
      <wsdl:output message="tns:getHotelSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getBookingInformaton">
      <wsdl:input message="tns:getBookingInformatonSoapIn" />
      <wsdl:output message="tns:getBookingInformatonSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getRoomFromHotel">
      <wsdl:input message="tns:getRoomFromHotelSoapIn" />
      <wsdl:output message="tns:getRoomFromHotelSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="searchhotel">
      <wsdl:input message="tns:searchhotelSoapIn" />
      <wsdl:output message="tns:searchhotelSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AgencyWebServiceSoap" type="tns:AgencyWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getHotel">
      <soap:operation soapAction="http://tempuri.org/getHotel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBookingInformaton">
      <soap:operation soapAction="http://tempuri.org/getBookingInformaton" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRoomFromHotel">
      <soap:operation soapAction="http://tempuri.org/getRoomFromHotel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchhotel">
      <soap:operation soapAction="http://tempuri.org/searchhotel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AgencyWebServiceSoap12" type="tns:AgencyWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getHotel">
      <soap12:operation soapAction="http://tempuri.org/getHotel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBookingInformaton">
      <soap12:operation soapAction="http://tempuri.org/getBookingInformaton" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRoomFromHotel">
      <soap12:operation soapAction="http://tempuri.org/getRoomFromHotel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchhotel">
      <soap12:operation soapAction="http://tempuri.org/searchhotel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AgencyWebService">
    <wsdl:port name="AgencyWebServiceSoap" binding="tns:AgencyWebServiceSoap">
      <soap:address location="http://localhost:64877/AgencyWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="AgencyWebServiceSoap12" binding="tns:AgencyWebServiceSoap12">
      <soap12:address location="http://localhost:64877/AgencyWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>