ClientApplicationConsole/Service References/AgencyMossonBookingServiceRef/AgencyBookingWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="doBooking">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="hotelName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="roomId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="clientFirstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="clientLastName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="clientCardInfo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="doBookingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="doBookingResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="doBookingSoapIn">
    <wsdl:part name="parameters" element="tns:doBooking" />
  </wsdl:message>
  <wsdl:message name="doBookingSoapOut">
    <wsdl:part name="parameters" element="tns:doBookingResponse" />
  </wsdl:message>
  <wsdl:portType name="AgencyBookingWebServiceSoap">
    <wsdl:operation name="doBooking">
      <wsdl:input message="tns:doBookingSoapIn" />
      <wsdl:output message="tns:doBookingSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AgencyBookingWebServiceSoap" type="tns:AgencyBookingWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="doBooking">
      <soap:operation soapAction="http://tempuri.org/doBooking" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AgencyBookingWebServiceSoap12" type="tns:AgencyBookingWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="doBooking">
      <soap12:operation soapAction="http://tempuri.org/doBooking" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AgencyBookingWebService">
    <wsdl:port name="AgencyBookingWebServiceSoap" binding="tns:AgencyBookingWebServiceSoap">
      <soap:address location="http://localhost:64877/AgencyBookingWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="AgencyBookingWebServiceSoap12" binding="tns:AgencyBookingWebServiceSoap12">
      <soap12:address location="http://localhost:64877/AgencyBookingWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>