Agency-Mosson/Service References/HotelRenarviereServiceRef2/HotelWebService2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="doBooking">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="_offer_id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="doBookingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="doBookingResult" type="tns:Offer" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Offer">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="NumberOfBed" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DateAvailable" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Price" type="s:int" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="doBookingSoapIn">
    <wsdl:part name="parameters" element="tns:doBooking" />
  </wsdl:message>
  <wsdl:message name="doBookingSoapOut">
    <wsdl:part name="parameters" element="tns:doBookingResponse" />
  </wsdl:message>
  <wsdl:portType name="HotelWebService2Soap">
    <wsdl:operation name="doBooking">
      <wsdl:input message="tns:doBookingSoapIn" />
      <wsdl:output message="tns:doBookingSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HotelWebService2Soap" type="tns:HotelWebService2Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="doBooking">
      <soap:operation soapAction="http://tempuri.org/doBooking" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="HotelWebService2Soap12" type="tns:HotelWebService2Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="doBooking">
      <soap12:operation soapAction="http://tempuri.org/doBooking" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HotelWebService2">
    <wsdl:port name="HotelWebService2Soap" binding="tns:HotelWebService2Soap">
      <soap:address location="http://localhost:64850/HotelWebService2.asmx" />
    </wsdl:port>
    <wsdl:port name="HotelWebService2Soap12" binding="tns:HotelWebService2Soap12">
      <soap12:address location="http://localhost:64850/HotelWebService2.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>